footer {
    color:#666;
    padding: 20px;
    text-align: center;
}

footer section {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-bottom: 20px;
}
footer section i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
footer h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

footer p {
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 1.4;
}

