footer {
    color: #666;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    flex: 1; 
    box-sizing: border-box; 
  }
  
  .footer-item i {
    color: var(--color-input);
    font-size: 2.5em;
    margin-bottom: 10px;
    transition: color 0.7s ease; 
  }
  
  footer h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  footer section p {
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  @media (min-width: 1024px) {
    footer {
        display: flex;
      flex-direction: column; 
      align-items: center;
    }
  
    footer section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .footer-item {
      flex: 1; 
      max-width: 33%; 
      margin-bottom: 0; 
    }
  
    .footer-copyright {
      margin-top: 20px;  
    }
  
    .footer-item i:hover {
      color: var(--color-principal); 
    }
}