
main {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: center;
}
main section{
    width: 100%;
    padding-bottom:80px;
}
h2{
    width: 100%;
    padding-left: 10px;
}

.div-ofertas {
    color: var(--color-subtitulos);
  text-align: left;
  margin: 10px 0;
  font-size: 24px;
}
.div-img-article img {
    width: 100%;
    height: auto;
}

article, .div-img-article, .caja-interna{
    width: 100%;
    box-sizing: border-box;
}
.caja-interna {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--color-background);
    margin: 0.5px 0 ;
  }
  
  .caja-interna .fa-truck {
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    color: green;
    border: 1.5px solid green;
    padding: 8px;
    border-radius: 50%;
  }
  
  .caja-interna .precio, .descuento, .descripcion {
    margin: 5px 0;
  }
  .div-precio-descuento {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .div-precio-descuento .precio {
    flex: 0 0 30%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    color: var(--color-subtitulos);
  }
  
  .div-precio-descuento .descuento {
    flex: 0 0 70%;
    color: green;
    font-size: 16px;
    text-align: start;
  }
  .descripcion{
    display: none;
  }
  .div-precio-descuento, .descripcion{
    padding-left: 10px;
  }
  .div-article-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .div-article-section article{
    flex: 1 1 100%;
  }

@media (min-width: 768px) {
    .div-article-section article{
        flex: 1 1 calc(50% - 10px);
    }
    article {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .div-img-article{
        flex: 0 0 50%;
    }
    .caja-interna{
       flex: 0 0 50%;
       padding: 20px;
    }
    header nav.site-menu,
    header nav.login-menu {
        display: flex;
        justify-content: space-around;
    }

  
    .descripcion {
        display: block; 
        text-align: left;
        width: 100%;
        color: var(--color-subtitulos);
        font-size: 16px;
        margin: 5px 0;
        padding-left: 10px;
      }
}
@media (min-width:1024px){
    .div-article-section article{
        flex:1 1 calc(25% - 10px)
    }
    article{
      transition: box-shadow 0.5s ease;
    }
    article:hover{
      box-shadow:  5px 10px 10px rgba(0,0,0,0.2);
    }
    .fa-truck{
      transition: transform 0.8s ease;
    }
    .caja-interna:hover .fa-truck{
      transform: rotate(270deg);
    }
    .descripcion{
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 1.5s ease, height 1.5s ease;


    }
    .caja-interna:hover .descripcion{
      opacity: 1;
      height: auto;
    }

}